body {
    color:black;
    background-color:lightcyan;
}
h1 {
    color:black;
    font-family: 'Kanit', sans-serif;
}
h2 {
    color:black;
    font-family: 'Kanit', sans-serif;
}
a {color:black;}

nav {background-color:lightblue;}
nav a {color:black;}
nav {color:black;}

nav a:hover {background-color:gray;}