body {
    color:black;
    background-color:lightcyan;
}
h1 {
    color:black;
    font-family: 'Kanit', sans-serif;
}
h2 {
    color:black;
    font-family: 'Kanit', sans-serif;
}
a {color:black;}

nav {
    padding: 10px;
    margin-bottom: 10px;
    background-color:lightcyan;
    }

nav a {color:black;}
nav {color:black;}

nav a:hover {background-color:lightblue;}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color:aliceblue;
    border-radius: 25px;
}